<div class="main">
  <div>{{ candidateName }}</div>
  <div>
    <label for="candidate-skill">Candidate Skill</label>
    <input
      type="number"
      id="candidate-skill"
      [(ngModel)]="candidateExperience"
    />
    <button (click)="unselect()">X</button>
  </div>
  <button (click)="list.toggleDirection()">Cambiar lista</button>
  <div>
    <h3>
      Número de candidatos <span>{{ candidatesLength }}</span>
    </h3>
  </div>
  <app-candidate-list #list>
    <h2 title>Lista de candidatos</h2>
    <div
      class="candidate-box"
      *ngFor="let candidate of candidates; let i = index; trackBy: trackById"
    >
      <span>{{ i }}</span>
      <app-candidate
        appScale
        *ngIf="i % 2 === 0; else odd"
        [candidate]="candidate"
        (select)="selectCandidate($event)"
      ></app-candidate>
      <ng-template #odd>
        <app-candidate
          appHighlight
          appScale
          [candidate]="candidate"
          (select)="selectCandidate($event)"
        ></app-candidate>
      </ng-template>
    </div>
  </app-candidate-list>
</div>
